*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body{
	background-color: rgb(236,233,216);
}
.bg-fff{
	background-color: #fff;
}
.tac{
	text-align: center;
}
.tar{
	text-align: right;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.mcolor{
	color: rgb(0,153,0) !important;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
